Django
numpy
psycopg2-binary
python-decouple
rdkit
polars
django-bootstrap-v5
whitenoise
gunicorn
fontawesomefree
gnnepcsaft>=0.3
gnnepcsaft-mcp-server>=0.4
jq
feos
si-units
onnxruntime
channels
daphne
PyPDF2 
filetype
langchain
langchain-google-genai
langchain-community
markdown-it-py
linkify-it-py
mdit_py_plugins
langgraph
google-adk==1.12.0
litellm>=1.68.1
djlint
pyinstaller
pylint-django
pywebview
